table {
  width: 80%;
  /* border-collapse: collapse; */
  border-radius: 10%;
}

tr {
  background-color: aliceblue;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

tr:hover {
  background-color: lightgreen;
}

td {
  padding: 30px;
  text-align: center;
}

thead {
  background-color: goldenrod;
}

th {
  padding: 10px;  
}