@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

tr {
  background-color: aliceblue;
}

td {
  padding: 30px;
  text-align: center;
}

thead {
  background-color: goldenrod;
}

th {
  padding: 10px;
}
